@charset "ISO-8859-1";
body{
    background-image: url("./Images/rm218batch5-mynt-24.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.imageicon{
    margin-right: 25px;
    border-radius: 50px;
}

.navbar{
    background: rgba(255, 255, 255, 0.25); /* Semi-transparent white background */
        backdrop-filter: blur(10px); /* Blurred background */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}
.card{
        background: rgba(255, 255, 255, 0.25); /* Semi-transparent white background */
        backdrop-filter: blur(10px); /* Blurred background */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
        padding: 10px; /* Adjust padding as needed */   
}
.todocards{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.todo-form {
    display: flex;
    align-items: center;
  }
  
  .todo-input {
    flex: 1;
    margin-right: 10px;
  }
  
.navbarNav{
    margin-right: 40px;
}

.ullist{
    background-color: rgb(171, 171, 171);
}
.ullist:hover{
    background-color: rgb(36, 146, 100);
}
.card:hover{
    
    box-shadow: 0 0 10px rgba(100, 200, 100, 2.5);
}

#todo-list li {
          display: flex;
          align-items: center;
        }

        .delete-button {
          margin-left: auto;
          background: none;
          border: none;
          padding: 0;
        }

